{layout name="index@layout/layout" /}
<style type="text/css">
	#d1 {
		padding-right: 60px;
		padding-left: 60px;
	}
	#d1 {
		background-color: black;
		color: white;
		padding: 80px;
	}
	#d1 > h1 {
		font-size: 50px;
		padding:30px 0;
	}
</style>
<div>
	<div id='d1'  class="text-center">
		<h1>文案文案文案文案</h1>
		<h3>文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</h3>
		<h3>文字文字文字文字文字文字文字文字文字</h3>
	    <p><a class="btn btn-default btn-lg" href="#" role="button">点餐</a></p>
	</div>
</div>