{layout name="admin@layout/layout" /}
<style type="text/css">
	.starter-template {
	    padding: 60px 15px;
	}
</style>
<div class="container">
      <div class="starter-template">
        <h3>用户列表</h3>
        <table class="table">
              <caption>Optional table caption.</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>用户名</th>
                  <th>电话</th>
                  <th>E-mail</th>
                  <th>地址</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
      </div>
</div>